$primary-color: #bb86fc;
$primary-variant-color: #3700b3;
$secondary-color: #03dac6;
$secondary-variant: #018786;
$background-color: #121212;
$surface-color: #1d1d1d;
$error-color: #cf6679;
$on-primary-color: #000000;
$on-primary-variant-color: #ffffff;
$on-secondary-color: #000000;
$on-background-color: #ffffff;
$on-surface-color: #ffffff;
$on-error-color: #000000;

$hover-surface-color: #2d2d2d;
$hover-on-surface-color: #bb86fc;
